<launch>
  <arg name="enable_teb_infeasible_forward_override" default="true"/>
  <arg name="teb_infeasible_trigger_duration" default="0.0"/>
  <arg name="teb_infeasible_force_duration" default="2.0"/>
  <!-- Keep recovery commands within the TEB translational speed envelope. -->
  <arg name="teb_infeasible_forward_speed" default="0.08"/>
  <arg name="teb_infeasible_lateral_duration" default="2.0"/>
  <arg name="teb_infeasible_lateral_speed" default="0.20"/>
  <!-- 0 disables command magnification; TEB owns the velocity limit. -->
  <arg name="teb_min_linear_speed" default="0.0"/>

  <node pkg="move_base" type="move_base" name="move_base"
        output="screen" clear_params="true">
    <remap from="cmd_vel" to="/cmd_vel_nav"/>
    <rosparam file="$(find danger_search_robot)/navigation/config/costmap_common_teb.yaml"
              command="load" ns="global_costmap"/>
    <rosparam file="$(find danger_search_robot)/navigation/config/costmap_common_teb.yaml"
              command="load" ns="local_costmap"/>
    <rosparam file="$(find danger_search_robot)/navigation/config/global_costmap_teb.yaml"
              command="load"/>
    <rosparam file="$(find danger_search_robot)/navigation/config/local_costmap_teb.yaml"
              command="load"/>
    <rosparam file="$(find danger_search_robot)/navigation/config/move_base.yaml"
              command="load"/>

    <param name="base_global_planner"
           value="global_planner/GlobalPlanner"/>
    <param name="base_local_planner"
           value="teb_local_planner/TebLocalPlannerROS"/>

    <param name="planner_frequency" value="1.0"/>
    <param name="controller_frequency" value="10.0"/>
    <param name="planner_patience" value="5.0"/>
    <param name="controller_patience" value="8.0"/>
    <param name="oscillation_timeout" value="10.0"/>
    <param name="oscillation_distance" value="0.20"/>

    <rosparam file="$(find danger_search_robot)/navigation/config/teb_local_planner.yaml"
              command="load"/>
  </node>


  <node if="$(arg enable_teb_infeasible_forward_override)"
        pkg="danger_search_robot"
        type="teb_infeasible_forward_override.py"
        name="teb_infeasible_forward_override"
        output="screen"
        required="true">
    <param name="nav_cmd_topic" value="/cmd_vel_nav"/>
    <param name="output_cmd_topic" value="/cmd_vel"/>
    <param name="log_topic" value="/rosout"/>
    <param name="warning_node" value="/move_base"/>
    <param name="trigger_duration"
           value="$(arg teb_infeasible_trigger_duration)"/>
    <param name="force_duration"
           value="$(arg teb_infeasible_force_duration)"/>
    <param name="forward_speed"
           value="$(arg teb_infeasible_forward_speed)"/>
    <param name="lateral_duration"
           value="$(arg teb_infeasible_lateral_duration)"/>
    <param name="lateral_speed"
           value="$(arg teb_infeasible_lateral_speed)"/>
    <param name="min_linear_speed" value="$(arg teb_min_linear_speed)"/>
    <param name="linear_zero_epsilon" value="0.0001"/>
    <param name="local_costmap_topic"
           value="/move_base/local_costmap/costmap"/>
    <param name="base_frame" value="body"/>
    <param name="occupied_threshold" value="50"/>
    <param name="warning_gap_reset" value="0.75"/>
    <param name="odom_topic" value="/Odometry"/>
    <param name="move_base_status_topic" value="/move_base/status"/>
    <param name="stationary_duration" value="2.0"/>
    <param name="stationary_distance_epsilon" value="0.05"/>
    <param name="stationary_yaw_epsilon" value="0.05"/>
    <param name="cmd_linear_threshold" value="0.05"/>
    <param name="cmd_angular_threshold" value="0.10"/>
    <param name="cmd_timeout" value="0.75"/>
    <param name="no_path_event_hold" value="3.0"/>
    <param name="publish_rate" value="30.0"/>
  </node>

</launch>
