<launch>
    <arg name="state_file" default="$(env HOME)/catkin_ws/results/floor_state.json"/>
    <arg name="anchor_file" default="$(env HOME)/catkin_ws/results/floor_transition_anchor.json"/>

    <node pkg="danger_search_robot"
          type="world_map_level_reanchor.py"
          name="world_map_level_reanchor"
          output="screen"
          required="true">
        <param name="state_file" value="$(arg state_file)"/>
        <param name="anchor_file" value="$(arg anchor_file)"/>
        <param name="world_frame" value="world"/>
        <param name="level_frame" value="map_level"/>
        <param name="body_frame" value="body"/>
        <param name="sample_count" value="100"/>
        <param name="sample_rate" value="10.0"/>
        <param name="max_translation_std" value="0.03"/>
        <param name="publish_rate" value="20.0"/>
    </node>
</launch>
